<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<script type="text/javascript">
    if (typeof console == "undefined") {
      this.console = {log: function() {}};
    }
    var id = {{ entry.id }};
    var maxid = {{ maxid }};
    function goNext(){
      if(id != maxid){
        var nextPage = id+1;
        location.href="/survey/"+nextPage;
      }else{
        location.href="/end";
        this.console.log(location.href);
      }
    }
    function goPrevious(){
      if(id==1){
       location.href="/";
      }else{
        var prePage = id-1;
        location.href="/survey/"+prePage;
      }
      
      
      this.console.log(location.href)
    }
</script>
{% block body %}
  
  <div class=flex-container>
    <img class=fit-picture src="{{ url_for('static', filename=imagefile) }}">
    <h2>Q. {{ entry.question|safe }}</h2>
    <form>
      {% for ch in choices %}
        
        <label ><div><input type="radio" name="choice" value={{ch.point}}><p class=choice>  {{ch.text}}</p></div></label>
        
        <!--<input type="checkBox" value={{ch.point}}>{{ch.number}}. {{ch.text}}</option>-->
      {% endfor %}
    </form>
    <div  >
        <button class=gopreviousbutton type="submit" onclick="goPrevious()" >이전</button>
        <button class=gonextbutton type="submit" onclick="goNext()" >다음</button>
    </div>
    
    <button class=ad type="button" > 광고 모집 중.. </button>
  </div>
{% endblock %}