<!doctype html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% if True %}
    <div >
      <div class=head-background>
        <span class=head-hb>나</span>
        <span class=head-h>에게 맞는 </span>
        <span class=head-hb>캠핑</span>
        <span class=head-h>유형 알아보기</span>
      </div>
    </div>
    <div>
      
      <img class=fit-picture src="{{ url_for('static', filename="resources/img/end.jpg") }}">
      <form action="/survey/result/{{result}}">
        <button class=button type="submit" >결과보기</button>
      </form>
      <button class=ad type="button" > 광고 모집 중.. </button>
    </div>
    {% endif %}
  </body>
</html>
